#!/bin/bash

###############################################################################
#
# Copyright (C) 2012 Thinkopen Solutions, Lda. All Rights Reserved
# http://www.thinkopensolutions.com.
#
# Carlos Miguel Sousa Almeida
# cma@thinkopensolutions.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
###############################################################################

###############################################################################
# CONFIGURATION FILE
#
# This configuration file is organized by sections
# This is all the information needed to create the LTSP Cluster
# During the installation some questions will be asked to user, the answers
#   should be coherent with the information put in this file.
#
###############################################################################

# To prevent the message "debconf: unable to initialize frontend: Dialog"
DEBIAN_FRONTEND=noninteractive

###############################################################################
# [PROXMOX]
###############################################################################
# Notes: NODEs["IP"]="HOSTNAME"
###############################################################################
declare -A NODEs
NODEs["1"]="proxmox01"
NODEs["2"]="proxmox02"
NODEs["3"]="proxmox03"
NODEs["4"]="proxmox04"
NODEs["5"]="proxmox05"
NODEs["6"]="proxmox06"
NODEs["7"]="proxmox07"

###############################################################################
# [OTHERS]
###############################################################################
# Notes: ---
###############################################################################
ROOT_PASS_FILE="/tmp/.secure" # IMPORTANT: Must be "chmod 600" if you put it in tmp, it will be deleted after a reboot
QEMU_TEMPLATE="ubuntu-12.04-x86.tar.gz"
DNS_DOMAIN="primeschool.pt"
DNS_SERVER="8.8.8.8"
# For the Control Server
DB_NAME="ltsp"
DB_USER="ltsp"
DB_PASS="ltspcluster"

###############################################################################
# [LANGUAGE]
###############################################################################
# Notes: Language to be configured in the servers
###############################################################################
LTSP_LANG="pt_PT.UTF-8"
LANG_CODE="pt"

###############################################################################
# [NETWORK]
###############################################################################
# Notes: The network IP
#        The last octet is defined using info in SERVERS section
###############################################################################
NETWORK="172.31.100"
GATEWAY="$NETWORK.254"

###############################################################################
# [SERVERS]
###############################################################################
# Notes: APPs["IP"]="HOSTNAME"
#        Servers NAME='IP LAST OCTET' (will build IP as $NETWORK.$N)
#        This number also implies the container number, so match CT=CT_OFFSET+IP
#        (example: 12 creates container 112)
#        There must be provided a script for each server hostname
#        The script name must be the same as the host with .sh
#        (example for the ltsp-roo01 server provide script ltsp-root01.sh)
#        Add more APPSERVs if necessary, they will all be created
#        In future an automated script will be created to increase this servers
#        The dhcp02 and ldap02 must be migrated to another PROXMOX node
###############################################################################
CT_OFFSET=100
ASK_TO_REBUILD_ROOT_CLIENT=0
# Application Servers Settings
APPSERV_NUM=1 # How many application servers
APPSERV_START_IP=18
APPSERV_DISK="10G:11G"
APPSERV_RAM="1024M"
APPSERV_SWAP="512M"
APPSERV_NAME="ltsp-appserv" # hostname of application servers, the number 01...0n will be appended
# DHCPs
DHCP_MAIN=10 # Must point to the "dhcp01"
DHCP_BACKUP=11 # Must point to the "dhcp02"
DHCP_NFS_SERVER=12 # Must point to the "nfs01"
DHCP_LDAP01_SERVER=13 # Must point to the "ldap01"
DHCP_LDAP02_SERVER=14 # Must point to the "ldap02"
DHCP_ROOT_SERVER=15 # Must point to the "root01"
DHCP_CONTROL_SERVER=16 # Must point to the "control01"
DHCP_LOADBALANCER_SERVER=17 # Must point to the "loadbalancer01"
DHCP_CUPS_SERVER=$DHCP_CONTROL_SERVER
DHCP_POOL_INI=31
DHCP_POOL_FIN=239
# LTSP Servers
declare -A APPs
APPs["10"]="dhcp01"
APPs["11"]="dhcp02"
APPs["12"]="nfs01"
APPs["13"]="ldap01"
APPs["14"]="ldap02"
APPs["15"]="ltsp-root01"
APPs["16"]="ltsp-control01"
APPs["17"]="ltsp-loadbalancer01"
declare -A DISKS
DISKS["dhcp01"]="1024M:1100M"
DISKS["dhcp02"]="1024M:1100M"
DISKS["ldap01"]="2048M:2200M"
DISKS["ldap02"]="2048M:2200M"
DISKS["nfs01"]="100G:110G"
DISKS["ltsp-root01"]="4096M:4400M"
DISKS["ltsp-control01"]="2048M:2200M"
DISKS["ltsp-loadbalancer01"]="2048M:2200M"
declare -A RAMS
RAMS["dhcp01"]="512M"
RAMS["dhcp02"]="512M"
RAMS["ldap01"]="1024M"
RAMS["ldap02"]="1024M"
RAMS["nfs01"]="1024M"
RAMS["ltsp-root01"]="1024M"
RAMS["ltsp-control01"]="1024M"
RAMS["ltsp-loadbalancer01"]="1024M"
declare -A SWAPS
SWAPS["dhcp01"]="512M"
SWAPS["dhcp02"]="512M"
SWAPS["ldap01"]="512M"
SWAPS["ldap02"]="512M"
SWAPS["nfs01"]="512M"
SWAPS["ltsp-root01"]="512M"
SWAPS["ltsp-control01"]="512M"
SWAPS["ltsp-loadbalancer01"]="512M"

###############################################################################
# [LDAP]
###############################################################################
# Notes: ---
###############################################################################
LDAP_PASS_FILE="/tmp/.secure-ldap" # IMPORTANT: Must be "chmod 600" if you put it in tmp, it will be deleted after a reboot
ORGANIZATION="Primeschool"
COMPANY="Primeschool Lda"
LDAP_DC1="primeschool"
LDAP_DC2="pt"
LDAP_DN="dc=$LDAP_DC1,dc=$LDAP_DC2"
DOMAIN="$LDAP_DC1.$LDAP_DC2"

###############################################################################
# [APPSERVS]
###############################################################################
# Notes: Include here all the applications that will be installed in each
#        aplication server
###############################################################################
APPLICATIONS_BASE="ubuntu-desktop chromium-browser firefox adobe-flashplugin openoffice.org openoffice.org-hyphenation"
APPLICATIONS_EXTRA="gimp gcompris blender totem banshee pitivi openshot audacity hydrogen muse nted tuxguitar songwrite geogebra evince"
APPLICATIONS_LANG="language-pack-gnome-$LANG_CODE language-pack-gnome-$LANG_CODE-base language-pack-$LANG_CODE language-pack-$LANG_CODE-base openoffice.org-l10n-$LANG_CODE openoffice.org-help-$LANG_CODE gcompris-sound-$LANG_CODE"
APPLICATIONS="$APPLICATIONS_LANG $APPLICATIONS_BASE $APPLICATIONS_EXTRA"

